body {
  background: #E8E8E8;
}

#vision-board {
  width: 1200px;
  height: 850px;
  align-items: center;
  background: url("../img/background.png");
  overflow: auto;
  font-family: 'Montserrat';
  text-transform: uppercase;
}

.block {
  float: left;
  width: 400px;
  box-sizing: border-box;
}

.small-block {
  height: 201px;
}

.large-block {
  height: 430px;
}
